Repository heywhy/vite-graphql-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc.js -w, jsonsort -s

.lintstagedrc:

{
  "**/*.{ts,tsx,vue,css,json}": [
    "prettier --config ./.prettierrc.js -w"
  ],
  "**/*.json": [
    "jsonsort -s"
  ]
}

chore: prettify codebase
  README.md
  codecov.yml
  codegen.yml
  index.html
  postcss.config.js
  src/__mocks__/apollo/index.ts
  src/css/app.css
  src/css/components/index.css
  src/graphql/client.ts
Due: prettier --config ./.prettierrc.js -w

chore: update codegen config
  codegen.yml
Due: none

chore: update readme
  README.md
  package.json
Due: prettier --config ./.prettierrc.js -w, jsonsort -s

chore: update codegen config and regenerate types
  codegen.yml
  src/graphql/mutations/sample.generated.ts
  src/graphql/mutations/sample.ts
  src/graphql/queries/sample.generated.ts
  src/graphql/queries/sample.ts
Due: prettier --config ./.prettierrc.js -w

chore: update dependencies
  package.json
  src/components.d.ts
  src/env.d.ts
  tsconfig.json
  tsconfig.node.json
  vue-app-env.d.ts
  vue-shims.d.ts
  yarn.lock
Due: prettier --config ./.prettierrc.js -w, jsonsort -s
